@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50;
}


@layer components {
    .btn {
        @apply bg-[#12b488] text-white px-3 py-2 rounded-md text-sm text-white;
    }
}