<template>
    <div>
        <Head>
            <Title>{{ product.title }}</Title>
            <Meta name="description" :content="product.description"></Meta>
        </Head>
        <ProductDetail :product="product" />
    </div>
</template>

<script setup>

const { id } = useRoute().params
const url = 'https://fakestoreapi.com/products/' + id

const { data: product } = await useFetch(url, { key: id })


if (!product.value) {
    throw createError({ statusCode: 404, statusMessage: 'Product not found.' })
}
// useHead({
//     title: product.value.title,
//     meta: [
//         {
//             name: 'description',
//             content: 'product detail description'
//         }
//     ]
// })

</script>

<style scoped></style>