<template>
    <h1>Products2</h1>
    <div>
        <div class="grid grid-cols-4 gap-5">
            <div v-for="p in products">
                <ProductCard :product="p" />
                <!-- <NuxtLink :to="`/products/${p.id}`">{{ p.title }}</NuxtLink> -->
            </div>
        </div>
    </div>
</template>

<script setup>

const { data: products } = await useFetch('https://fakestoreapi.com/products')

useHead({
    title: 'Nuxt Products',
    meta: [
        {
            name: 'description',
            content: 'products description'
        }
    ]
})
</script>

<style lang="scss" scoped></style>