<template>
  <div>
    <header class="shadow-sm bg-white">
      <nav class="container mx-auto p-4 flex justify-between">
        <ul class="flex">
          <!-- กรณีเปลี่ยนลิงต์จะไม่โหลดเพจใหม่ทั้งหมด -->
          <li>
            <NuxtLink to="/">Home</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/about">About</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products" >Products</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products/1">Products 1</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products/2">Products 2</NuxtLink>
          </li>
        </ul>

        <!-- จะไปหน้านั้นแล้วโหลดเพจใหม่ทั้งหมด -->
        <a href="/about" class="btn">Normal About</a>
      </nav>
    </header>

    <div class="container mx-auto p-4">
      <slot />
    </div>
  </div>
</template>
  



<style scoped>
.router-link-exact-active {
  color: rgb(24, 71, 212);
}

li {
  margin-right: 15px;
}
</style>