<template>
  <div>
    <header>
      <h2>This product layouts</h2>
      <nav>
        <ul>
          <!-- กรณีเปลี่ยนลิงต์จะไม่โหลดเพจใหม่ทั้งหมด -->
          <li>
            <NuxtLink to="/">Home</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/about">About</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products">Products</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products/1">Products 1</NuxtLink>
          </li>
          <li>
            <NuxtLink to="/products/2">Products 2</NuxtLink>
          </li>
        </ul>

        <!-- จะไปหน้านั้นแล้วโหลดเพจใหม่ทั้งหมด -->
        <a href="/about">Normal About</a>
      </nav>
    </header>

    <div>
      <slot />
    </div>
  </div>
</template>
  



<style scoped>
.router-link-exact-active {
  color: #12b488;
}
</style>