<template>
  <div>
    <h2>Abount</h2>
    <div>{{ data }}</div>
    <div>{{ product }}</div>
  </div>
</template>

<script setup>

const { data } = await useFetch('/api/user?name=pon', {
  method: 'POST',
  body: {
    age: 30
  }
})


const { data: product } = await useFetch('/api/product/1')

</script>

<style scoped>
h2 {
  color: orangered;
  font-size: 35px;
}
</style>